.loginhcmut {
    position: fixed;
    width: 400px;
    height: 400px;
    top: 49%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 8px;
    z-index: 1000;
    background-color: #fff;
    padding: 20px 30px;
    border-radius: 10px;
    border: 2px solid #000;
    width: 100%;
    max-width: 400px;
    text-align: center;
    background-color: #f8fbff;
}

.loginhcmut h1 {
    font-family: "Arial", sans-serif;
    font-size: 24px;
    margin-bottom: 20px;
    color: #000000;
}

.loginhcmut form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.loginhcmut label {
    font-size: 14px;
    text-align: left;
    color: #000;
}

.loginhcmut input {
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.loginhcmut button {
    padding: 10px;
    margin-left: 100px;
    width: 150px;
    margin-top: 20px;
    font-size: 16px;
    color: #000000;
    background-color: #add2e0;
    border: 1px solid #000;
    border-radius: 5px;
    cursor: pointer;
}

.loginhcmut button:hover {
    background-color: #69d0f6;
}

#message {
    font-size: 14px;
    margin-top: 10px;
}
