li:nth-child(2) a {
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 3px;
    text-decoration-color: 0000;
}

.home .img {
    margin-top: 15px;
    padding: 0;
    left: 0;
    width: 100%;
    height: auto;
    object-fit: cover;
}
