.printer_manage {
    text-align: center;
    // font-family: Arial, sans-serif;
    position: absolute;
    top: 450px;
    left: 100px;
}

.printer_banner {
    display: flex;
    /* Đặt flexbox */
    flex-direction: row;
    /* Sắp xếp các phần tử theo hàng ngang */
    align-items: center;
    /* Căn giữa theo chiều dọc */
    justify-content: center;
    /* Đảm bảo các phần tử được phân bố đều */
    border: 1px solid black;
    border-radius: 8px;
    padding: 20px;
    margin: 0px auto;
    max-width: 1290px;
    height: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    background-color: #f1ecec;

    .printer_icon {
        font-size: 36px;
        color: black;
        margin-right: 20px;
    }

    .printer_details {
        display: flex;
        /* Đặt flexbox để các phần tử nằm trên cùng một dòng */
        flex-direction: row;
        /* Các phần tử con nằm trên cùng một hàng */
        gap: 300px;
        /* Khoảng cách giữa các phần tử */
        text-align: center;

        .printer_code,
        .printer_name,
        .printer_location,
        .printer_status {
            flex-grow: 1;
            min-width: 0;
            // left: 82px;

            font-family: "Lato";
            font-size: 20px;
            font-weight: normal;
            font-style: normal;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        .printer_code {
            font-weight: bold;
        }

        .printer_status {
            font-weight: bold;

            &.ready {
                color: green;
            }

            &.not_ready {
                color: red;
            }
        }
    }
}

.containerButton {
    justify-content: center;
    align-items: center;
    height: 300px;
    display: flex;

    .buttonAdd {
        width: 400px;
        height: 55px;
        background: #add2e0;
        border: 1px solid #000;
        border-radius: 15px;

        font-family: "Lato";
        font-style: normal;
        font-weight: 300;
        font-size: 32px;
        line-height: 38px;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;

        color: #000000;

        box-sizing: border-box;

        &:hover {
            background-color: #a4b1b6;
        }
    }
}

.searchbar {
    position: absolute;
    margin-top: 325px;
    margin-left: 250px;
}

.title {
    position: absolute;
    margin-top: 160px;
    margin-left: 100px;
}