.information {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    width: 550px;
    height: 600px;
    border: 1px solid #000;
}
.header {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    text-align: center;
    align-items: center;
}
.information hr {
    display: flex;
    margin-top: 10px;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 500px;
    height: 1px;
    background-color: #000;
    border: #000;
}
.information .icon {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 41px;
    font-size: 150px;
}
.content {
    margin-top: 70px;
    display: flex;
    justify-content: center;
    text-align: left;
    align-items: center;
    gap: 85px;
    border-spacing: 20px;
    border-collapse: separate;
}
.information .pay {
    display: flex;
    margin-left: 300px;
    margin-top: -40px;
    margin-right: 50px;
    font-size: 20px;
    font-weight: 500px;
    width: 150px;
    height: 40px;
    border-radius: 30px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    &:hover {
        background-color: #69d0f6;
    }
}
.information .return {
    display: flex;
    margin-left: 100px;
    margin-top: 100px;
    margin-right: 50px;
    font-size: 20px;
    font-weight: 500px;
    width: 150px;
    height: 40px;
    border-radius: 30px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    &:hover {
        background-color: #69d0f6;
    }
}
.information h3 {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    width: 279px;
    height: 40px;
    margin-left: 700px;
    margin-top: -50px;
    border: 2px solid #000;
    color: #ff0707;
    background-color: #f1ecec;
    .button {
        margin-left: -10px;
        width: 50px;
        height: 25px;
        border-radius: 5px;
    }
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}
.modal {
    position: fixed;
    width: 400px;
    height: 150px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    z-index: 1000;
}
.modal .btn {
    margin-top: 10px;
    margin-left: 70px;
    width: 100px;
    height: 35px;
    border: 1px solid #000;
    background-color: #add2e0;
    border-radius: 15px;

    &:hover {
        background-color: #69d0f6;
    }
}
.qrcode {
    margin-left: 130px;
    margin-top: -400px;
    z-index: 1000;
}
.qrcode p {
    margin-left: 10px;
}
.qrcode {
    position: fixed;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    z-index: 1000;
}
