.container {
    position: absolute;
    top: 130px;
    padding: 20px;
    left: 100px;

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
        width: 1244px;
        border: 3px solid black;

        h2 {
            font-size: 24px;
            font-weight: bold;
            padding-left: 15px;
            margin: 0;
            padding-top: 11px;
            padding-bottom: 11px;
            /* Remove default margin */

        }

        .status {
            color: rgb(42, 243, 42);
            font-weight: bold;
            padding-right: 15px;
        }
    }

    .filterSection {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;

        .filterDropdown {
            padding: 8px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        .searchBar {
            display: flex;
            align-items: center;

            input {
                padding: 8px;
                border: 1px solid #ccc;
                border-radius: 4px;
            }

            .filterButton {
                margin-left: 5px;
                background-color: #007bff;
                border: none;
                color: white;
                padding: 8px 10px;
                border-radius: 4px;
                cursor: pointer;

                i {
                    font-size: 16px;
                }
            }
        }
    }

    .table {
        width: 100%;
        border-collapse: collapse;

        thead {
            background-color: #d8f1ff;

            th {
                padding: 10px;
                text-align: left;
                font-weight: bold;
                border: 1px solid #ccc;
            }
        }

        tbody {
            tr {
                &:nth-child(even) {
                    background-color: #f9f9f9;
                }

                &:hover {
                    background-color: #e0f7ff;
                }
            }

            td {
                padding: 10px;
                border: 1px solid #ccc;

                i {
                    margin-right: 5px;
                }
            }
        }
    }
}