.information {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    width: 550px;
    height: 600px;
    border: 1px solid #000;
}
.header {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    text-align: center;
    align-items: center;
}
.information hr {
    display: flex;
    margin-top: 10px;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 500px;
    height: 1px;
    background-color: #000;
    border: #000;
}
.information .icon {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 41px;
    font-size: 150px;
}
.content {
    margin-top: 70px;
    display: flex;
    justify-content: center;
    text-align: left;
    align-items: center;
    gap: 85px;
    border-spacing: 20px;
    border-collapse: separate;
}
.icon_check {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    font-size: 75px;
}
.information p {
    display: flex;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
    color: #3670dc;
}
