/* Styles for the search bar */
.search_bar {
    position: absolute;
    left: 100px +150px;
    top: 200px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    max-width: 681px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;



    /* Input field styles */
    .search_input {
        flex: 1;
        border: none;
        outline: none;
        margin: 0 0 0 15px;
        font-size: 16px;
        border-radius: 5px 0 0 5px; // Rounded corners for the left side
    }

    .search_icon {
        position: absolute;
        left: 15px;
        font-size: 18px;
        color: #888;
    }

}