/* Styles for the search bar */
.search_bar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    max-width: 681px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 10px;
    height: 25px;

    /* Input field styles */
    .search_input {
        flex: 1;
        border: none;
        outline: none;
        margin: 0 0 0 15px;
        font-size: 13px;
        border-radius: 5px 0 0 5px; // Rounded corners for the left side
    }

    .search_icon {
        position: absolute;
        left: 15px;
        font-size: 18px;
        color: #888;
    }
}
