.information {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    width: 669px;
    height: 675px;
    border: 3px solid #000;
    background-color: #F8FBFF;
    margin-top: 50px;
    border-radius: 15px;
}
h1 {
    display: flex;
    margin-top: 50px;
    margin-bottom: 1px;
    justify-content: center;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    text-align: center;
    align-items: center;
}
hr {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 300px;
    height: 1px;
    background-color: #000;
    border: 0.5px solid #000;
}
.information .icon {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 41px;
    font-size: 150px;
}
.content {
    margin-top: 52px;
    margin-left: 30px;
    display: flex;
    justify-content: center;
    text-align: left;
    align-items: flex-start;
    gap: 0px;
    border-spacing: 40px;
    border-collapse: separate;
    flex-direction: column;

    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
}
.container {
    display: flex;
    justify-content: center; 
    align-items: 50px;     
    height: 400px;
    flex-direction: row;
    max-width: 669px;
    row-gap: 10px;
    

    .button {
        margin: 40px;
        
        width: 129px; 
        height: 55px;
        background: #ADD2E0;
        border: 1px solid #000;
        border-radius: 15px;
        

        font-family: "Lato", sans-serif;
        font-style: normal;
        font-weight: 200;
        font-size: 24px;
        line-height: 38px;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        cursor: pointer;
        color: #000000;

       
        box-sizing: border-box; 
        &:hover {
            background-color: #A4B1B6;
        }
    }
}


.delete-box {
   
    position: fixed;
    background-color: #fff;
    padding: 20px 30px;
    top: 50%;
    left: 25%;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    border: 1px solid #000;


    h2 {
      margin-bottom: 10px;
    }

    p {
      margin-bottom: 20px;
      color: #555;
    }

    .close-popup-btn {
      padding: 10px 20px;
      background-color: #ADD2E0;
      color: black;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-size: 16px;
      margin-left: 25px;
      margin-right: 25px;

      &:hover {
        background-color: #A4B1B6;
      }
    }

   
}
