.information {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    width: 600px;
    height: 650px;
    border: 1px solid #000;
}
h1 {
    display: flex;
    justify-content: center;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    text-align: center;
    align-items: center;
}
hr {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 550px;
    height: 1px;
    background-color: #000;
    border: #000;
}
.information .icon {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 41px;
    font-size: 150px;
}
.content {
    margin-top: 52px;
    display: flex;
    justify-content: center;
    text-align: left;
    align-items: center;
    gap: 85px;
    border-spacing: 20px;
    border-collapse: separate;
}
